body{
    overflow: hidden;
}
.background{
    height: 100vh;
    width: 100vw;
    background-color: #151226ce;
}
#login{
    transform: translate(-50%,-50%);
    position: fixed;
    top: 50%;
    left: 50%;
    height: 95%;
    width: 55%;
    background-color: #F5EBDD;
    border-radius: 20px;
    z-index: 1;
   font-family: sans-serif;
   font-weight: 400;
   font-style: normal;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 40px;
   
   
}
#logo{
    height: 10vh;
    width: 5vw;
    border: 1px solid #151226ce;
    border-radius: 10px;
    margin-top: 1%;
}
#head{
    color: #151226ce;
}
input{
    height: 40px;
    width: 300px;
    border: 1px solid #151226ce;
    border-radius: 10px;
}
label{
    color: #151226ce;
}
button{
    height: 40px;
    width: 200px;
    border-radius: 10px;
    background-color: #151226ce;
    color: #F5EBDD;
    box-shadow: 2px 2px 2px #151226ce;
}
button:hover{
    background-color: #322a5ace;
    height: 50px;
    width: 210px;
    transform: translateY(-10%);
}
select{
    height: 40px;
    width: 300px;
    border: 1px solid #151226ce;
    border-radius: 10px;
}
textarea{
    height: 40px;
    width: 300px;
    border: 1px solid #151226ce;
    border-radius: 10px;
}