.login-body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #151226;
  color: #F5EBDD;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #F5EBDD;
  padding: 30px 40px;
  border: 1px solid #151226;
  border-radius: 10px;
  box-shadow: 0 0 10px #F5EBDD33;
  text-align: center;
  width: 300px;
}

h2 {
  margin-bottom: 20px;
  color: #151226;
}

form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #151226;
  border-radius: 5px;
  background-color: #F5EBDD;
  color: #151226;
  font-size: 16px;
  box-shadow: 2px 2px 2px #151226;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #151226;
  color: #F5EBDD;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

form button:hover {
  background-color: #372e6a;
  color: #F5EBDD;
}

a {
  color: #151226;
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}
